{% extends 'base/base.html' %}

{% block content %}
                        
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#categoryModal">
    New Category
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="categoryModalLabel">New Stock Item</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" hx-post="/htmx" hx-target="#categoryListing" hx-swap="beforebegin">
            <input type="hidden" name="authenticity_token" value="{{authenticity_token}}"/>
            <input type="hidden" name="id" value="0"/>

            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
              <input name="name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            
            <div class="input-group">
              <span class="input-group-text">With textarea</span>
              <textarea name="description" class="form-control" aria-label="With textarea"></textarea>
            </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">
            Save
          </button>
        </div>
      </form>
      </div>
    </div>
  </div>

  <table class="table" style="width: 100%;">
    <thead>
      <tr>
        <th width="20%" scope="col">Name</th>
        <th width="65%" scope="col">Description</th>
        <th width="15%" scope="col"></th>
      </tr>
    </thead>
</table>

<div style="width:100%; overflow:auto; max-height:500px;">
    <table class="table">
        <tbody>
          {% for category in item_categories %}
            {% include 'itemcategory/partials/table_row.html'  %}
          {% endfor %}
        <tr id="categoryListing"></tr>
        </tbody>
    </table>
</div>

{% endblock %}