
<tr hx-target="this" hx-swap="outerHTML">
    <td width="20%">
        {{category.name}}
    </td>
    <td width="45%">
        {{category.description}}
    </td>
    <td width="20%">
        {{category.id}}
    </td>
    <td width="15%">
        <a class="btn btn-info btn-sm" href="#">
            View
        </a>
        <a class="btn btn-primary btn-sm" href="#">
            Edit
        </a>
        <a class="btn btn-danger btn-sm" hx-post="#">
            Delete
        </a>
    </td>
</tr>